<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <servlet>
        <servlet-name>HelloServlet</servlet-name>
        <servlet-class>com.t2010a.hellot2010aagain.controller.HomeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HelloServlet</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>com.t2010a.hellot2010aagain.controller.RegisterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CreteStudentServlet</servlet-name>
        <servlet-class>com.t2010a.hellot2010aagain.controller.student.CreateStudentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreteStudentServlet</servlet-name>
        <url-pattern>/admin/students/create</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ListStudentServlet</servlet-name>
        <servlet-class>com.t2010a.hellot2010aagain.controller.student.ListStudentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListStudentServlet</servlet-name>
        <url-pattern>/admin/students/list</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DetailStudentServlet</servlet-name>
        <servlet-class>com.t2010a.hellot2010aagain.controller.student.DetailStudentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DetailStudentServlet</servlet-name>
        <url-pattern>/admin/students/detail</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeleteStudentServlet</servlet-name>
        <servlet-class>com.t2010a.hellot2010aagain.controller.student.DeleteStudentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteStudentServlet</servlet-name>
        <url-pattern>/admin/students/delete</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EditStudentServlet</servlet-name>
        <servlet-class>com.t2010a.hellot2010aagain.controller.student.EditStudentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditStudentServlet</servlet-name>
        <url-pattern>/admin/students/edit</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CreteCustomerServlet</servlet-name>
        <servlet-class>com.t2010a.hellot2010aagain.controller.customer.CreateCustomerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreteCustomerServlet</servlet-name>
        <url-pattern>/admin/customers/create</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ListCustomerServlet</servlet-name>
        <servlet-class>com.t2010a.hellot2010aagain.controller.customer.ListCustomerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListCustomerServlet</servlet-name>
        <url-pattern>/admin/customers/list</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DetailCustomerServlet</servlet-name>
        <servlet-class>com.t2010a.hellot2010aagain.controller.customer.DetailCustomerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DetailCustomerServlet</servlet-name>
        <url-pattern>/admin/customers/detail</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeleteCustomerServlet</servlet-name>
        <servlet-class>com.t2010a.hellot2010aagain.controller.customer.DeleteCustomerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteCustomerServlet</servlet-name>
        <url-pattern>/admin/customers/delete</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EditCustomerServlet</servlet-name>
        <servlet-class>com.t2010a.hellot2010aagain.controller.customer.EditCustomerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditCustomerServlet</servlet-name>
        <url-pattern>/admin/customers/edit</url-pattern>
    </servlet-mapping>
</web-app>